body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


:root {
  --primaryColor: white;
  --mainWhite: #fff;
  --mainBlack: #222;
  --mainGrey: #ececec;
  --mainSpacing: 0.1rem;
  --mainTransition: all 0.3s linear;
}

/*************************** NAVBAR **********************/
#navbar {
  padding: 8px 25px;
  border: none;
  background: #363130;
  transition: padding-top 0.3s, padding-bottom 0.3s;

}

#navbar .navbar-toggler {
  background: #363130;
  border: none;

}

#navbar .navbar-nav .nav-item .nav-link {
  color: white;
  font-weight: bold;
  font-size: 33px;
  font-family: "muse-500", Arial, sans-serif;
  transition: all 0.3s ease-out;
  padding-left: 30px;
  padding-right: 30px;
}

#navbar .navbar-nav .nav-item .nav-link.active,
#navbar .navbar-nav .nav-item .nav-link:hover {
  background: #e36056;
  color: white !important;
  transition: all 0.5s ease-out;
  box-shadow: 1px 0px 0px 1px #e36056;
}

.center-nav-links {
  margin-left: auto;
  margin-right: auto;
  text-align: center;

}