body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


:root {
  --primaryColor: white;
  --mainWhite: #fff;
  --mainBlack: #222;
  --mainGrey: #ececec;
  --mainSpacing: 0.1rem;
  --mainTransition: all 0.3s linear;
}

/*************************** NAVBAR **********************/
#navbar {
  padding: 8px 25px;
  border: none;
  background: #363130;
  transition: padding-top 0.3s, padding-bottom 0.3s;

}

#navbar .navbar-toggler {
  background: #363130;
  border: none;

}

#navbar .navbar-nav .nav-item .nav-link {
  color: white;
  font-weight: bold;
  font-size: 33px;
  font-family: "muse-500", Arial, sans-serif;
  transition: all 0.3s ease-out;
  padding-left: 30px;
  padding-right: 30px;
}

#navbar .navbar-nav .nav-item .nav-link.active,
#navbar .navbar-nav .nav-item .nav-link:hover {
  background: #e36056;
  color: white !important;
  transition: all 0.5s ease-out;
  box-shadow: 1px 0px 0px 1px #e36056;
}

.center-nav-links {
  margin-left: auto;
  margin-right: auto;
  text-align: center;

}

/*************************** MAIN HOME PAGE **********************/
.main-header {
  min-height: calc(100vh - 120px);
  background: url("http://www.coolentertainment.us/wp-content/uploads/2018/07/Highly-Advanced-Technology-Available-at-Samsung-TV-Zambia.jpg") center/cover no-repeat;
  display: flex;
  align-items: center;
  justify-content: center;
}

.card {
  border: 1px transparent solid;
  color: black;
  height: 330px;
  box-shadow: 2px 3px 3px 2px #b3b3b3;
}

.card:hover {
  color: black;
  background: #e36056;
  height: 330px;
  box-shadow: 2px 3px 3px 2px #e36056;
}


#page-container {
  position: relative;
  min-height: 10vh;
}


.card-title {
  font-size: 15.5px !important;
}

.title {
  font-weight: bold !important;
  text-decoration: underline !important;
  font-size: 18px !important;
}


/*************************** ALL BUTTONS **********************/
.banner-btn {
  padding: 1.5rem 4.7rem;
  text-transform: uppercase;
  letter-spacing: var(--mainSpacing);
  font-size: 1.5rem;
  font-weight: bold;
  background: var(--primaryColor);
  color: var(--mainBlack);
  border: 1px solid var(--primaryColor);
  transition: var(--mainTransition);
  cursor: pointer;
  border-radius: 24px;
  margin-top: 90px;
  font-family: "OpenSans", Helvetica, Arial, sans-serif;
  box-shadow: 1px 1px 1px 1px white;
}

.banner-btn:hover {
  background: #e36056;
  color: white;
  border: 1px solid #e36056;
}

.back-button {
  background-color: white;
  color: black;
  border: 2px solid black !important;
  justify-content: center;
  padding-top: 10px;
  padding-left: 30px;
  padding-right: 30px;
  padding-bottom: 5px;
  border-radius: 3px;
  margin-left: 30px;
}

.back-button:hover {
  background-color: #e36056;
  color: white;
  box-shadow: 1px 3px 12px 0px #b3b3b3;
}

.info-button {
  background-color: white;
  color: black;
  border: 2px solid black !important;
  justify-content: center;
  padding-top: 10px;
  padding-left: 20px;
  padding-right: 20px;
  padding-bottom: 10px;
  border-radius: 5px;
  margin-top: 30px !important;
  font-size: 14px;
}

.info-button:hover {
  background-color: #363130;
  color: white;
  box-shadow: 1px 3px 12px 0px #b3b3b3;

}

.search-btn {
  padding: .2rem .1rem;
  border: 2px solid black !important;
  text-transform: uppercase;
  letter-spacing: var(--mainSpacing);
  font-size: 1.4rem;
  font-weight: bold;
  background: var(--primaryColor);
  color: var(--mainBlack);
  border: 1px solid var(--primaryColor);
  transition: var(--mainTransition);
  cursor: pointer;
  border-radius: 3px;
  font-family: "OpenSans", Helvetica, Arial, sans-serif;
  margin-bottom: 40px;
}

.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  padding: 12px 16px;
  z-index: 1;
}

.dropdown:hover .dropdown-content {
  display: block;
}


#search-container {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 2.5rem;
}

/*************************** RESULTS SECTION **********************/
.Results {
  display: flex;
  flex-wrap: wrap;
}

.Results_item {
  width: 240px;
}

.Results_item_image {
  height: 200px;
}

.Results_item_title {
  white-space: wrap;
}

.Results_item_summary {
  white-space: wrap;
}

/**************************** MEDIA-QUERY ***************************/
@media only screen and (max-width: 414px) {
  .card {
    border: 1px transparent solid;
    color: black;
    height: 330px !important;
    box-shadow: 2px 3px 3px 2px #b3b3b3;
  }

  .info-button {
    background-color: white;
    color: black;
    border: 2px solid black !important;
    justify-content: center;
    padding-top: 10px;
    padding-bottom: 10px;
    border-radius: 5px;
    margin-top: 30px !important;
    font-size: 9px;
  }

  .back-button {
    background-color: white;
    color: black;
    border: 2px solid black !important;
    justify-content: center;
    padding-top: 5px;
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 5px;
    border-radius: 3px;
  }

  .order-picture {
    width: 209px;
    height: 240px;
  }

  .nav-link {
    font-size: 22px !important;
  }

  .col-md-3 {
    margin-bottom: 20px;
  }

  .search-btn {
    padding: .2rem .1rem;
    border: 2px solid black !important;
    text-transform: uppercase;
    letter-spacing: var(--mainSpacing);
    font-size: 1.1rem;
    font-weight: bold;
    background: var(--primaryColor);
    color: var(--mainBlack);
    border: 1px solid var(--primaryColor);
    transition: var(--mainTransition);
    cursor: pointer;
    border-radius: 3px;
    font-family: "OpenSans", Helvetica, Arial, sans-serif;
    margin-bottom: 40px;
  }

  .card-title {
    font-size: 11px !important;
  }
}

@media only screen and (min-device-width : 768px) and (max-device-width : 1024px) {
  .card {
    border: 1px transparent solid;
    color: black;
    height: 300px;
    box-shadow: 2px 3px 3px 2px #b3b3b3;
  }

  .card:hover {
    color: black;
    background: #e36056;
    height: 330px;
    box-shadow: 2px 3px 3px 2px #e36056;
  }

  .info-button {
    background-color: white;
    color: black;
    border: 2px solid black !important;
    justify-content: center;
    padding-top: 10px;
    padding-bottom: 10px;
    border-radius: 5px;
    margin-top: 30px !important;
    font-size: 13px;
  }

  .info-button:hover {
    background-color: #363130;
    color: white;
    box-shadow: 1px 3px 12px 0px #b3b3b3;

  }

  .order-picture {
    width: 209px;
    height: 240px;
  }

  .info-button {
    background-color: white;
    color: black;
    border: 2px solid black !important;
    justify-content: center;
    padding-top: 10px;
    padding-bottom: 10px;
    border-radius: 5px;
    margin-top: 30px !important;
    font-size: 9px;
  }

  .search-btn {
    padding: .2rem .1rem;
    border: 2px solid black !important;
    text-transform: uppercase;
    letter-spacing: var(--mainSpacing);
    font-size: 1.9rem;
    font-weight: bold;
    background: var(--primaryColor);
    color: var(--mainBlack);
    border: 1px solid var(--primaryColor);
    transition: var(--mainTransition);
    cursor: pointer;
    border-radius: 3px;
    font-family: "OpenSans", Helvetica, Arial, sans-serif;
    margin-bottom: 40px;
  }

  .back-button {
    background-color: white;
    color: black;
    border: 2px solid black !important;
    justify-content: center;
    padding-top: 15px;
    padding-left: 30px;
    padding-right: 30px;
    padding-bottom: 6px;
    border-radius: 3px;
    font-size: 1.3rem;
  }

  .card {
    height: 350px !important;
  }

  .card-title {
    font-size: 11px !important;
  }
}